{% extends 'product/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price }}$</h1>
                <p class="card-text">
                {% for version in product.versions.all %}
                {% if version.is_version_active %}
                <p>Версия: {{version.version_name}} ({{version.version_number}}) </p>
                {% endif %}
                {% endfor %}
                </p>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ product.description|slice:":100" }}</li>
                    <img src='{{ product.photo | media_filter}}'>
                </ul>
                {% if perms.product.can_update_product and perms.product.can_active_product and perms.product.can_update_product_category %}
                <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'Product:product_update' product.pk %}">Редактировать</a>
                {% endif %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'Product:single_product' product.pk %}">Детали</a>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'Product:product_delete' product.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}